.header {
  width: 100%;
  height: 10vh;
  background: linear-gradient(
    80deg,
    $color-blue-50 18%,
    $color-purple-50 54%,
    $color-purple-100 100%
  );
  & a:hover {
    color: white;
  }
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 10rem;
  border-bottom: 1px solid black;
  &__logo {
    font-family: "Lato", sans-serif;
    color: white;
    margin-right: 120rem;
  }
  &__cart {
    padding: 2rem 1rem;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  & li {
    margin: 0 1rem;
    & span {
      font-size: 2rem;
      color: white;
      font-weight: bold;
    }
  }

  & a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  & button {
    font: inherit;
    font-size: 3rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.1rem 2rem;
    padding-bottom: 1rem;
    border-radius: 0.6rem;
    cursor: pointer;

    &:hover {
      background-color: green;
    }
  }

  &__logout {
    font-size: 2rem;
    color: black;
  }
}
