@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "components/variables";

@import "components/auth-form";
@import "components/head-navigation";
@import "components/change-password";

@import "components/notification";
@import "layout/layout";

.dummy {
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
