@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "components/variables";

@import "components/auth-form";
@import "components/head-navigation";
@import "components/change-password";
@import "components/profile-form";
@import "components/notification";
@import "layout/layout";

@import "components/browse/all-items";
@import "components/browse/browse-grid";
@import "components/browse/browse-item";

.dummy {
  font-size: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
