.browseItem {
  background-color: rgb(255, 252, 247);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 3rem 2rem;
  text-align: center;

  &__image {
    width: 100%;
    padding-top: 5rem;
    max-height: 20rem;
    overflow: hidden;
    & img {
      object-fit: cover;
    }
  }
  &__details {
    & h1 {
      padding: 2rem 0;
      font-size: 3.4rem;
    }
    & h4 {
      font-size: 3rem;
      color: rgb(255, 112, 112);
    }
  }
}
