@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.auth {
  font-family: "Quicksand", sans-serif;
  font-size: 5rem;
  border-radius: 6px;
  background-color: white;
  width: 25%;
  height: 80%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center; }
  .auth h1 {
    text-align: center;
    margin: 4rem 0;
    color: black;
    font-weight: 700;
    font-size: 4rem; }
  .auth__control {
    margin-bottom: 3rem; }
    .auth__control label {
      font-size: 2rem;
      display: block;
      color: black;
      font-weight: 400;
      margin-bottom: 0.8rem; }
    .auth__control input {
      font: inherit;
      background-color: white;
      border-radius: 2px;
      border: 0;
      border-bottom: 1px solid black;
      height: 5rem;
      width: 70%;
      text-align: center;
      padding: 0.1rem;
      outline: none; }
      .auth__control input:focus {
        background-color: white; }
      .auth__control input:focus-within {
        background-color: white; }
      .auth__control input:-webkit-autofill, .auth__control input:-webkit-autofill:hover, .auth__control input:-webkit-autofill:focus, .auth__control input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px white inset !important;
        -webkit-box-shadow: 0 0 0 30px white inset !important; }
  .auth__submit {
    background: linear-gradient(80deg, #73c7ff 20%, #b83cff 70%, #fd0afd 100%);
    width: 70%;
    height: 4rem;
    border-radius: 3rem;
    color: white;
    cursor: pointer;
    border: 0;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .auth__signinContainer {
    display: flex;
    flex-direction: column; }
    .auth__signinContainer-create {
      margin: 2rem 0;
      font-size: 1.6rem; }
    .auth__signinContainer-signin {
      border: 0;
      background-color: white;
      cursor: pointer;
      font-family: inherit;
      margin: 2rem;
      font-size: 3rem;
      font-weight: 600; }
    .auth__signinContainer-icons {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .auth__signinContainer-icons-icon {
        height: 5rem;
        width: 5rem;
        margin: 2rem; }

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; }

.header {
  width: 100%;
  height: 10vh;
  background: linear-gradient(80deg, #73c7ff 18%, #b83cff 54%, #fd0afd 100%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 10rem;
  border-bottom: 1px solid black; }
  .header__logo {
    font-family: "Lato", sans-serif;
    color: white;
    margin: 0; }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
  .header li {
    margin: 0 1rem; }
    .header li span {
      font-size: 2rem;
      color: white;
      font-weight: bold; }
  .header a {
    text-decoration: none;
    color: white;
    font-weight: bold; }
  .header button {
    font: inherit;
    font-size: 3rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.1rem 2rem;
    padding-bottom: 1rem;
    border-radius: 0.6rem;
    cursor: pointer; }
    .header button:hover {
      background-color: green; }
  .header__logout {
    font-size: 2rem;
    color: black; }

.change-password {
  font-size: 5rem; }

.notification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 10rem;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #343036;
  color: #dfdbe6; }
  .notification h2 {
    font-size: 2rem;
    margin: 0; }
  .notification p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0; }

.success {
  background-color: #12bd4b;
  color: --color-grey-800; }

.error {
  background-color: #a10c4a; }

.layout {
  background: linear-gradient(80deg, #73c7ff 20%, #b83cff 70%, #fd0afd 100%);
  height: 90vh; }

.dummy {
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
